/* Font style */
body {
    font-family: Arial, Helvetica, sans-serif
    font-size 18px
}

html {
    font-family: Arial, Helvetica, sans-serif
}

h1 {
   
}
h1 {
    font-size: 40px
}

h2 {
    font-size: 25px
    
}

h2 { 
    font-family: Arial, Helvetica, sans-serif
}

p {
  
}
p {
    text-align: justify
}

